<!DOCTYPE html>
<html style="font-size: 16px;" lang="en-IN">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords"
    content="interior design companies in kochi, interior design company in kochi, interior designing firms in kochi, interior design companies in kerala, interior design companies in ernakulam">
  <meta name="description" content="The best place for all of your interior design requirements">
  <title>About Golden Frames Interiors - Kochi</title>

  <script class="u-script" type="text/javascript" src="javascripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="javascripts/nicepage.js" defer=""></script>
  <link rel="icon" href="images/favicon.png">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">




  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Golden Frames Interiors",
		"logo": "images/logo.png"
}</script>
  <meta name="theme-color" content="#ff8700">
  <meta property="og:title" content="About Golden Frames Interiors - Kochi">
  <meta property="og:description" content="The best place for all of your interior design requirements">
  <meta property="og:type" content="website">
  <meta charset="UTF-8">
  <meta name="description" content="personalized Interior Design in Cochin from Golden Frame Interiors.">
  <meta name="keywords"
    content="interior design companies in kochi, interior design company in kochi, interior design companies in ernakulam">
  <meta name="author" content="Golden Frames">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="http://gfinteriors.in/images/logo.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body class="u-body u-xl-mode" data-lang="en">

  {{>user-header}}

  {{{body}}}

  {{>user-footer}}

</body>

</html>